@import "../../styles/colors";

#workers {
  padding-top: 10px;
  height: calc(100% - 140px);
  overflow-y: scroll;
  scrollbar-color: $white $white;
  scrollbar-width: thin;

  > div:last-child {
    margin-bottom: 12px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;
  }
}
