@import "../../styles/colors";

#workers {
  padding-top: 10px;
  height: calc(100% - 140px);
  overflow-y: scroll;
  scrollbar-color: $white $white;
  scrollbar-width: thin;
  > div {
    .hr_line {
      margin: 28px 24px 32px 24px;
      color: $ghost;
      font-family: "Inter";
      font-size: 15px;
      font-weight: 500;
      &::before {
        background-position: right 70px top 50%;
      }
      &::after {
        background-position: left 70px top 50%;
      }
    }
  }

  > div:last-child {
    margin-bottom: 12px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;
  }
}
