@import "../../styles/colors";

#profile {
  text-align: center;
  div.profile_header {
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
    background-color: $ghost-white;
    div.back_button_row {
      display: flex;
      padding-top: 20px;
      padding-bottom: 27px;
      padding-left: 32px;
      a {
        line-height: 25px;
        span.back_icon {
          padding: 4px 12px 4px 13px;
          background-image: url("./../../styles/svg/arrowLeft.svg");
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }
  }
  .birthday_row {
    display: flex;
    justify-content: space-between;
    padding: 27px 0;
    .birthdate {
      display: flex;
      .star_icon {
        width: 24px;
        height: 24px;
        margin-left: 2px;
        margin-right: 14px;
        background-image: url("./../../styles/svg/star.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
      .date {
        margin-top: 2px;
        line-height: 20px;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 500;
        color: $black-russian;
      }
    }
    .age {
      margin-top: 2px;
      margin-right: 4px;
      line-height: 20px;
      font-family: "Inter";
      font-size: 16px;
      font-weight: 500;
      color: $santas-grey;
    }
  }
  .gray_line {
    margin: 0;
    border-color: $ghost-white;
    border-bottom-width: 0;
  }
  .phone_row {
    display: flex;
    padding: 21px 0;
    .phone_icon {
      width: 24px;
      height: 24px;
      margin-left: 2px;
      margin-right: 14px;
      background-image: url("./../../styles/svg/phone.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    .phone_num {
      margin-top: 2px;
      line-height: 20px;
      font-family: "Inter";
      font-size: 16px;
      font-weight: 500;
      color: $black-russian;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 480px) {
  #profile {
    div.profile_header {
      div.back_button_row {
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 7px;
      }
    }
  }
}
