// the color names are taken from https://www.htmlcsscolor.com/
$white: #ffffff;
$black-russian: #050510;
$ghost-white: #f7f7f8;
$ghost: #c3c3c6;
$santas-grey: #97979b;
$gun-powder: #55555c;
$han-purple: #6534ff;
