@import "../../styles/colors";

#worker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  .birthdate {
    margin-right: 4px;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    color: $gun-powder;
    font-weight: 400;
    text-transform: capitalize;
  }
}
