@import "./styles/fonts";
@import "./styles/colors";

body {
  margin: 0;
  font-family: "Inter", "Roboto", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;

  #root {
    height: 100%;
  }
}
