@import "../../styles/colors";

#departmentsTab {
  margin-top: 14px;
  > div {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
    border-bottom: 0.33px solid $ghost;
    > a {
      display: inline-block;
      padding: 7px 6px;
      margin-left: 6px;
      margin-right: 6px;
      line-height: 20px;
      font-family: "Inter";
      font-size: 15px;
      font-weight: 500;
      color: $santas-grey;
      opacity: 1;
      &.first_letter_lower::first-letter {
        text-transform: lowercase;
      }
      &:global(.active) {
        color: $black-russian;
        font-weight: 600;
        border-color: $han-purple;
      }
    }
    a:active {
      border-color: transparent;
    }
  }
}
